<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Basheer Becerra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Basheer Becerra's personal website." />
	<meta name="keywords" content="Basheer, Becerra, Bash, Harvard, PhD, Bioinformatics" />
	<meta name="author" content="Basheer Becerra" />

	<!-- Twitter Card -->
	<meta name="og:title" content="Basheer's Personal Website" />
	<meta name="og:image" content="http://www.basheerbecerra.com/images/new_images/tall_professional_pic.jpg" />
	<meta name="og:url" content="http://www.basheerbecerra.com/" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@basheerbecerra" />
	<meta name="og:description" content="Basheer Becerra's personal website" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	</link>

	<!-- Google Fonts -->
	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
		rel='stylesheet' type='text/css'>
	</link>

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	</link>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	</link>
	<!-- Magnific Popup-->
	<link rel="stylesheet" href="css/magnific-popup.css">
	</link>
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	</link>
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	</link>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	</link>

	<!-- Cards -->
	<link rel="stylesheet" href="css/cards.css">
	</link>

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>

	<!-- custom scrollbar CSS -->
	<link rel="stylesheet" href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" />

	<!-- jQuery lib -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<!-- custom scrollbar plugin script -->
	<script src="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
			'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-84736265-1', 'auto');
		ga('send', 'pageview');
	</script>
	<style type="text/css">
		.align-items-center {
			display: flex;
			align-items: center;
			/*Aligns vertically center */
			justify-content: center;
			/*Aligns horizontally center */
		}
	</style>
	<style>
		blockquote.twitter-tweet {
			display: inline-block;
			font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
			font-size: 12px;
			font-weight: bold;
			line-height: 16px;
			border-color: #eee #ddd #bbb;
			border-radius: 5px;
			border-style: solid;
			border-width: 1px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
			margin: 10px 5px;
			padding: 0 16px 16px 16px;
			max-width: 468px;
		}

		blockquote.twitter-tweet p {
			font-size: 16px;
			font-weight: normal;
			line-height: 20px;
		}

		blockquote.twitter-tweet a {
			color: inherit;
			font-weight: normal;
			text-decoration: none;
			outline: 0 none;
		}

		blockquote.twitter-tweet a:hover,
		blockquote.twitter-tweet a:focus {
			text-decoration: underline;
		}

		#twitter-widget-holder {
			max-height: 400px;
			max-width: 320px;
			padding: 20px;
			background: #fff;
			border-radius: 3px;
			box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
		}

		.twitter-timeline {
			max-width: 100%;
			max-height: 1000px;
		}

		.fa {
			font-size: 25px;
			color: #FFFFFF;
		}

		.panel-title {
			font-size: 25px;
			color: #FFFFFF;
			font-family: 'Open Sans', sans-serif;
		}

		.panel-heading {
			background-color: #1da1f2 !important;
			;
			color: #1da1f2 !important;
			;
		}

		.panel {
			margin-top: 25px;
		}

		#twitter-widget-holder {
			max-height: 400px;
			max-width: 320px;
			padding: 20px;
			background: #fff;
			border-radius: 3px;
			box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
		}
	</style>
</head>

<body>

	<div id="fh5co-page">
		<th:block th:include="fragments/fragments :: navbar"></th:block>

		<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"
			style="
       background-image: url(images/bg-bash2.JPG);
       background-size: 110% 150%;
     ">
			<span class="scroll-btn wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.4s"> <a href="#"> <span
						class="mouse">
						<span></span>
					</span>
				</a>
			</span>
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover-text">
				<div class="container">
					<div class="row">
						<div class="col-md-push-6 col-md-6 full-height js-full-height">
							<div class="fh5co-cover-intro">
								<h1 class="cover-text-lead wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".3s">
									Basheer
									Becerra's Personal Site</h1>
								<h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="0.3s"
									data-wow-delay=".5s" style="font-size: 20px;">
									Bioinformatics PhD Student @ Harvard.<br></br>
									To view my CV,
									please <a href="https://1drv.ms/b/s!Ai1NY1dgN1aijYlvgWUbz0WVZcN0ng?e=QwssZQ"
										target="_blank">click here</a>.
								</h2>
								<h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="0.3s"
									data-wow-delay=".5s">Personal
									website last updated: 12/23/2025</h2>
								<p class="wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="1.5s">
									<button class="btn btn-primary btn-outline btn-lg learn-btn">Learn
										about me!</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-project-style-2">
			<!--   -->
			<div class="container">
				<div class="row p-b">
					<div class="col-md-8 col-md-offset-4 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">About Me
						</h2>
					</div>
				</div>
				<div class="row p-b">
					<div class="col-md-4" style="text-align: center;">
						<img src="images/labphoto.jpeg" class="wow fadeInUp img-thumbnail" width="100%"
							data-wow-duration="0.5s" data-wow-delay=".5s" alt="Image"
							style="max-height: 800px; max-width: 300px;" />
					</div>
					<div class="col-md-8">
						<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s" style="color: #040947;">
							<span style="font-size: 25px;">My name is Basheer Becerra <br /></span><span
								style="font-size: 17px;">(pronounced as BUH-sheer
								beh-SEH-ruh).</span>
						</p>
						<ul class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
							<li style="padding-top: 15px"><span style="font-size: 20px;">PhD student in Bioinformatics
									&amp; Integrative Genomics (BIG) at Harvard Medical School
								</span><br /><span style="font-size: 17px;">Co-advised by <strong>Dr. Luca
										Pinello</strong> and <strong>Dr.
										Daniel Bauer</strong><br />NSF F31 Funded</span></li>
							<li style="padding-top: 15px"><span style="font-size: 20px;">Bachelors from Illinois State
									University</span><br /><span style="font-size: 17px;"><strong>Double major</strong>
									Computer
									Science/Statistics with Honors, <strong>Minor</strong> in Biology <br />(3.98/4.00
									GPA)</span><br /><strong>Selected commencement speaker; Bone Scholar (highest
									university
									award)</strong></li>
						</ul>
					</div>
				</div>
				<span class="mouse"> <span></span>
				</span>
			</div>


			<div class="container">
				<div class="row p-b">
					<div class="col-md-12 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">
							Research Summary</h2>
						<p class="wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Research experience during
							PhD</p>
					</div>
				</div>
				<div class="row p-b ">
					<div class="col-md-5 col-md-push-7 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s"
						style="text-align: center;">
						<div class="col-xl-4">
							<img src="images/igvf_poster.jpeg" alt="Image" width="100%"
								style="max-height: 500px; max-width: 250px;" class=" img-thumbnail" /> <br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/ashg_talk.jpeg" alt="Image" width="100%"
								style="max-height: 500px; max-width: 250px;" class="img-thumbnail" /><br /> <br />
						</div>
					</div>

					<div class="col-md-7 col-md-pull-5">
						<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s" style="font-size: 15px;">
							In my thesis work, I established experimental and computational methods to <strong>perform
								high-resolution functional mapping of non-coding and coding elements </strong> using
							technologies such
							as <i>in-situ</i> genome-editing or <i>ex-situ</i> reporter assays.<br /><br />

							I have initially established a <strong>variant-level resolution base-editing mutagenesis
								framework</strong>
							on a putative <i>CD19</i> enhancer to identify variants conferring resistance to CAR-T
							therapies. <br />
							<a href="https://www.biorxiv.org/content/10.1101/2024.09.09.612085v1.full"
								target="_blank">Becerra et al.,
								<i>bioRxiv</i> 2024</a> (recent acceptance to <i>Nature
								Communications</i>).<br /><i>Oral presentation
								Mutational Scanning Symposium '23 @ Sanger Institute</i> <br /><br />


							My largest effort involved improving and applying the base-editing framework (along with
							performing <i>ex-situ</i> reporter assays, <i>in-situ</i> prime-editing, and
							<i>in-silico</i>
							ChromBPnet)
							on the <i>HBG</i> promoter and <i>BCL11A</i> enhancers to <strong>identify therapeutic
								editing strategies for
								beta-hemoglobinopathies such as sickle cell disease.</strong> This resulted in the
							identification of the novel base-editing and prime-editing therapeutic strategies
							(manuscript submission pending IP preparation).<br />
							<i>Oral presentation ASHG '25 @ Boston</i><br /><br />

							Aspects of my developed<strong> framework has been applied in several ongoing work
							</strong>including
							erythroid trait
							variant installation and mutagenesis of DDX6 gene, MNX1 enhancer, PD-L1 enhancer, and
							TINF1
							gene.
						</p>
					</div>

				</div>
			</div>


			<div class="container">
				<div class="row p-b">
					<div class="col-md-12 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">
							Professional Summary</h2>
						<p class="wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Professional
							experiences prior to PhD</p>
					</div>
				</div>
				<div class="row p-b ">
					<div class="col-md-6 col-md-push-6">
						<div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s"
							style="font-size: 15px;">
							<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s"
								style="font-size: 15px;">
								Prior to PhD, I have worked <strong>multiple professional experiences</strong>
								throughout
								undergraduate
								ranging from <strong>computational genomics</strong>, to <strong>data science and
									software
									engineering</strong>. <br /><br />

								I have spent <strong>three years</strong> during my initial years of undergrad working
								as a <strong>software
									engineer intern at State Farm</strong>. I was awarded <strong>two of the most
									prestigious company awards
									as an intern</strong>: 2017 State Farm Innovator Award and 2016 Q3 Special
								Achievement Award. I
								contributed to 8 different projects among 6 different teams working on various back-end
								web services.<br /><br />

								I left State Farm the summer after my third year of undergrad to attend <strong>Cold
									Spring
									Harbor Laboratory's (CSHL) Undergraduate Research Program </strong>(~5% acceptance
								rate) working in
								cancer genomics.<br /><br />

								After that summer, during my last year of undergrad, I <strong>continued working
									remotely
									at CSHL</strong>
								and worked as a <strong>lead data scientist at local company Advance Trading,
									Inc.</strong> developing
								predictive models of commodity pricing.<br /><br />

								After graduation prior to PhD, I worked as a <strong>computational genomics summer
									intern at Vertex Pharmaceuticals</strong> working between the Computational Genomics
								and Alpha1-Antitrypsin Deficiency Biology teams.<br /><br />

								Altogether, while pursuing a double major (computer science, statistics) &amp; minor
								(biology) courseload in undergrad, I have still dedicated substantial time
								for various professional and research experiences. During PhD, I have focused on depth
								by identifying my research area of interest and establishing my scientific investigation
								skills. After graduation, I hope to make substantial contributions to the field as a
								scientific leader.
							</p>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s"
						style="text-align: center;">
						<div class="col-xl-4">
							<img src="images/new_images/commencement2.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class=" img-thumbnail" /> <br /> <br />
							<br /> <br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/commencement1.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row p-b">
					<div class="col-md-12 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">
							Personal</h2>
						<p class="wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Just a bit about me</p>
					</div>
				</div>
				<div class="row p-b ">
					<div class="col-md-12">
						<div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s"
							style="font-size: 15px;">
							<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s"
								style="font-size: 15px;">
								Outside of work, I enjoy all things triathlon: open-swimming at Walden Pond,
								bike-packing in Vermont on the weekends, and runs along the Charles. I've done a couple
								full-distance Ironman races (2.1mi swim, 112mi bike, 26.2mi run) and several
								half-Ironmans. <br /><br />
							</p>
						</div>
					</div>
				</div>
				<div class="row p-b ">
					<div class="col-md-4">
						<img src="images/personal_bike.jpeg" alt="Image" width="100%"
							style="max-height: 800px; max-width: 500px;" class=" img-thumbnail" />
					</div>
					<div class="col-md-4">
						<img src="images/personal_bikepacking.jpeg" alt="Image" width="100%"
							style="max-height: 800px; max-width: 500px;" class="img-thumbnail" />
					</div>
					<div class="col-md-4">
						<img src="images/personal_bikepacking2.jpeg" alt="Image" width="100%"
							style="max-height: 800px; max-width: 500px;" class="img-thumbnail" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<th:block th:include="fragments/fragments :: footer"></th:block>
	</div>
	<!-- END page-->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- WOW -->
	<script src="js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!-- Main -->
	<script src="js/main.js"></script>
</body>

</html>