<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Basheer Becerra</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Basheer Becerra's personal website." />
<meta name="keywords" content="Basheer, Becerra, Bash, developer, entrepreneur, researcher" />
<meta name="author" content="Basheer Becerra" />

<!-- Twitter Card -->
<meta name="twitter:title" content="Basheer's Personal Website" />
<meta name="twitter:image" content="images/close_professional_pic" />
<meta name="twitter:url" content="http://www.basheerbecerra.com/" />
<meta name="twitter:card" content="summary" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico"></link>

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css"></link>
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css"></link>
<!-- Magnific Popup-->
<link rel="stylesheet" href="css/magnific-popup.css"></link>
<!-- Owl Carousel -->
<link rel="stylesheet" href="css/owl.carousel.min.css"></link>
<link rel="stylesheet" href="css/owl.theme.default.min.css"></link>
<!-- Bootstrap  -->
<link rel="stylesheet" href="css/bootstrap.css"></link>

<!-- Cards -->
<link rel="stylesheet" href="css/cards.css"></link>

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>

<!-- custom scrollbar CSS -->
<link rel="stylesheet"
	href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" />
<!-- jQuery lib -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- custom scrollbar plugin script -->
<script src="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-84736265-1', 'auto');
	ga('send', 'pageview');
</script>
<style type="text/css">
.align-items-center {
	display: flex;
	align-items: center; /*Aligns vertically center */
	justify-content: center; /*Aligns horizontally center */
}
</style>
<style>
blockquote.twitter-tweet {
	display: inline-block;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	border-color: #eee #ddd #bbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	margin: 10px 5px;
	padding: 0 16px 16px 16px;
	max-width: 468px;
}

blockquote.twitter-tweet p {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

blockquote.twitter-tweet a {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	outline: 0 none;
}

blockquote.twitter-tweet a:hover, blockquote.twitter-tweet a:focus {
	text-decoration: underline;
}

#twitter-widget-holder {
	max-height: 400px;
	max-width: 320px;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}

.twitter-timeline {
	max-width: 100%;
	max-height: 1000px;
}

.fa {
	font-size: 25px;
	color: #FFFFFF;
}

.panel-title {
	font-size: 25px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

.panel-heading {
	background-color: #1da1f2 !important;;
	color: #1da1f2 !important;;
}

.panel {
	margin-top: 25px;
}

#twitter-widget-holder {
	max-height: 400px;
	max-width: 320px;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}
</style>
</head>
<body>

	<div id="fh5co-page">
		<th:block th:include="fragments/fragments :: navbar"></th:block>

		<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5"
			data-next="yes" style="background-image: url(images/bg-bash.jpg);">
			<span class="scroll-btn wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.4s">
				<a href="#"> <span class="mouse">
						<span></span>
					</span>
				</a>
			</span>
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover-text">
				<div class="container">
					<div class="row">
						<div class="col-md-push-6 col-md-6 full-height js-full-height">
							<div class="fh5co-cover-intro">
								<h1 class="cover-text-lead wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s">Basheer
									Becerra's Personal Site</h1>
								<h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".2s">
									Thank you for visiting my personal website. You will find information on my personal and
									professional attributes. To view my CV, please <a
										href="https://1drv.ms/b/s!Ai1NY1dgN1aihskC5DFYEkLxThh1gQ" target="_blank">click here</a>
								</h2>
								<p class="wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="1.1s">
									<button class="btn btn-primary btn-outline btn-lg learn-btn">Learn about me!</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-project-style-2">
			<!--   -->
			<div class="container">
				<div class="row p-b">
					<div class="col-md-8 col-md-offset-4 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Hello!</h2>
					</div>
				</div>
				<div class="row p-b">
					<div class="col-md-4" style="text-align: center;">
						<img src="images/new_images/tall_professional_pic.jpg" class="wow fadeInUp img-thumbnail"
							width="100%" data-wow-duration="0.5s" data-wow-delay=".5s" alt="Image"
							style="max-height: 800px; max-width: 300px;" /> <br /> <br />
					</div>
					<div class="col-md-8">
						<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
							My name is Basheer Becerra <i>(pronounced as BUH-sheer bi-SE-ruh)</i>!<br /> <br /> I am
							currently an undergraduate senior attending Illinois State University and double majoring in
							computer science and statistics with a biology minor. <br /> <br /> For my whole life, I've
							lived in a rural town of El Paso, IL. Originally focusing on athletics, specifically soccer,
							I've left the sport during the end of high school to focus more on academics and personal
							growth. I originally started studying computer science near the end of high school. By
							discovering a field and hobby that I loved to spend time on, I quickly developed my computer
							science skills. After being accepted to State Farm's IT internship the summer after high
							school graduation, computer science became a field that I wanted to contribute to throughout
							my career. Many college students discover another passion during the beginning of college -
							for me, that was life sciences. I soon integrated these two interests to spark a newfound
							interest in computational biology. After a bit of experience, I knew that this was the
							primary field I wanted to pursue. Even though my university didn't provide a formal program
							for computational biology, I independently forged my own path by working with biology and
							computer science professors, independently learning relevant material, taking as many courses
							in each of the sub-disciplines of computational biology, and pursuing research opportunities
							and internships. My ambition was to best prepare myself for graduate school research,
							although my desire was to explore a field that I loved studying. Fast forward to now, I
							currently possess 3.5 years of industry internship experience, participated in multiple
							academic research projects, double majored in computer science and statistics with a minor in
							biology, and developed myself professionally to take the next step in my education!<br /> <br />

						</p>
					</div>
				</div>
				<span class="mouse">
					<span></span>
				</span>
			</div>

			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 text-center">

						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Research</h2>
					</div>
				</div>
				<div class="row p-b ">

					<div class="col-md-6">
						<div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
							<p>
								<b>Research Interest:</b> I am interested in developing computational methods for
								understanding the underlying mechanisms of human disease. I am particularly interested in
								developing computational and statistical tools/models for identifying molecular subtypes of
								cancer and their relationship to clinical variables.
							</p>
							<h3>Research Experience</h3>
							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Cold Spring Harbor Laboratory</span>
										<br />
										<span>
											<b>Quantitative Biology Research Intern</b> - October 2018 – Present
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Principal Investigator: Dr. Alexander Krasnitz</span>
										<br />
										<span>
											<b><i>Project Title: “Extracting Prognostic Copy Number Markers from Breast
													Tumors.” </i></b>
										</span>
										<br />
										<span>I perform copy number analysis (CNA) of breast tumors to discover genomic
											factors determining patient prognosis.</span>
									</p>
								</div>
							</div>

							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Illinois State University</span>
										<br />
										<span>
											<b>Bioinformatics Undergraduate Researcher</b> - January 2017 – Present
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Principal Investigator: Dr. Alysia Vrailas-Mortimer</span>
										<br />
										<span>
											<b><i>Project Title: “Proteomic Analysis of p38 in Drosophila melanogaster.” </i></b>
										</span>
										<br />
										<span>I independently performed proteomic analysis of differentially expressed
											proteins in short-lived p38K knockout, long-lived p38K over-expression, and wild-type
											Drosophila melanogaster brains and muscles to discover mechanisms in aging and
											age-dependent diseases. Furthermore, I independently developed a statistical-based
											technique that estimates the biological age of Drosophila melanogaster mutants using
											wild-type protein expression profiles.</span>
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Principal Investigator: Dr. Nathan T. Mortimer</span>
										<br />
										<span>
											<b><i>Project Title: “FlyCAGE: Correlational Analysis of Gene Expression in
													Drosophila melanogaster.” </i></b>
										</span>
										<br />
										<span>I independently developed a bioinformatics web tool that conducts analysis of
											Drosophila melanogaster (fruit fly) mRNA expression data to discover genes with
											correlated spatiotemporal expression.</span>
									</p>
								</div>
							</div>

							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Cold Spring Harbor Laboratory</span>
										<br />
										<span>
											<b>Quantitative Biology Undergraduate Research Program Participant</b> - June 2018 –
											August 2018
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Principal Investigator: Dr. Alexander Krasnitz</span>
										<br />
										<span>
											<b><i>Project Title: “Copy Number Analysis (CNA) of Pancreatic Cancer Organoids
													to Predict Drug Response.” </i></b>
										</span>
										<br />
										<span>I performed genomic profiling of organoids derived from patients with
											pancreatic ductal adenocarcinoma (PDAC). I developed a method using statistical learning
											and other pre-processing algorithms to predict chemotherapeutic drug response using
											extracted copy-number features. This analysis was also used to characterize molecular
											subtypes of PDAC based on their extracted copy-number features.</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s"
						style="text-align: center;">
						<div class="col-xl-4">
							<img src="images/new_images/cshl_group_pic.jpeg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class=" img-thumbnail" /> <br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/alysia_lab_photo.JPG" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/cshl_lab_pic.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
					</div>
				</div>
			</div>




			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-6 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Work</h2>
					</div>
				</div>
				<div class="row p-b ">
					<div class="col-md-6 col-md-push-6">
						<div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
							<p>
								<b>Work Summary:</b> As an undergraduate senior, I currently possess 3.5 <b>full</b> years
								of industry experience (3500+ hours). With my internship experience at State Farm, I have
								developed my professional maturity, enhanced my leadership skills, improved my collaboration
								and communication skills, and advanced my computational skills through real-life
								application. With my experience at Advance Trading, I have incorporated data science
								analysis (such as regression analysis, neural networks, etc.) in a corporate environment,
								thereby learning crucial communication, leadership, and project management skills.
							</p>
							<h3>Work Experience</h3>
							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Advance Trading, Inc. - Bloomington, IL</span>
										<br />
										<span>
											<b>Data Science Intern</b> - August 2018 – Present
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Supervisor: Derek Lawless (CTO)</span>
										<br />
										<span>I independently perform predictive and exploratory analysis using regression
											models and multi-task recurrent neural-networks, which involves a strong emphasis of
											several research and computational methods that is translatable to an academic research
											environment.</span>
									</p>
								</div>
							</div>

							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>State Farm</span>
										<br />
										<span>
											<b>IT Systems Intern &amp; Co-op</b> - May 2015 – March 2018
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Supervisor: Garren King</span>
										<br />
										<span>- Successfully contributed to 8 company projects among 6 different teams.</span>
										<br />
										<span> - Developed two highly-consumed and enterprise-ready web services: a RESTful
											web service that conducts CRUD operations and a SOAP web service that dynamically
											generates campaign IDs; both deployed to production. </span>
										<br />
										<span>- Produced a 20-page research paper on machine-learning capabilities of cloud
											platforms. Presented the results to several key stakeholders and directors to aid in
											cloud enablement and decision making of cloud platform selection.</span>
										<br />
										<span>- Delivered several presentations including company-broadcasted speeches,
											team-related presentations (including showcases and code reviews), and funding-pitches
											directly towards company executives (including Systems and Marketing executive staff
											meetings).</span>

									</p>
								</div>
							</div>
							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Illinois State University</span>
										<br />
										<span>
											<b>Student Web Developer</b> - March 2016 – September 2016
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Supervisor: Dr. Rishi Saripalle</span>
										<br />
										<span>I independently developed the back-end code for an event registration
											application (including SQL statements, web service calls, business logic, and server-side
											UI templates).</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s"
						style="text-align: center;">
						<div class="col-xl-4">
							<img src="images/new_images/sf_photo_hack_day.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class=" img-thumbnail" /> <br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/sf_photo_group.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/bio_lab_pic.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 text-center">

						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Teaching
							and Volunteering</h2>
					</div>
				</div>
				<div class="row p-b ">

					<div class="col-md-6">
						<div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
							<p>
								<b>Volunteer Summary:</b> Just like how many individuals have supported my pursuits, I make
								sure to dedicate the time to help support others along their path. I have mainly supported
								causes such as education for underrepresented groups and supporting individuals with
								intellectual disabilities.
							</p>
							<h3>Volunteer Experience</h3>
							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Black Data Processing Associates (BDPA)</span>
										<br />
										<span>
											<b>Assistant Teacher – BDPA Volunteer</b> - October 2015 – Present
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Every Satuday, I teach high school students about topics in front/back-end
											web development, database design, and systems development and methodologies. As a member
											of BDPA, I have presented at multiple BDPA membership meetings to inspire young students
											about IT and computational biology. In total, I have volunteered over 250+ hours to
											support underrepresented high school students.</span>
									</p>
								</div>
							</div>

							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Illinois State University</span>
										<br />
										<span>
											<b>Student Panelist</b> - August 2015 – Present
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>I have volunteered as a student panelist for several events within the Honors
											Program and University Scholars Program such as prospective student panels, freshmen
											orientations, and Honors Program Day. I have also volunteered as a student panelist for
											two events for The Louis Stokes Alliances for Minority Participation (LSAMP) to provide
											advice for young college students pursuing STEM disciplines. </span>
									</p>
								</div>
							</div>

							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>Special Olympics Illinois</span>
										<br />
										<span>
											<b>Event Volunteer</b> - October 2013 – Present
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>Since my younger sister was born with physical and intellectual disabilities,
											I often volunteer at local Special Olympics events to help support athletes with
											intellectual disabilities. Volunteered a total of 50+ hours.</span>
									</p>
								</div>
							</div>

							<div style="border-left: 1px solid black; padding-left: 5px;">
								<div>
									<p>
										<span>State Farm</span>
										<br />
										<span>
											<b>Lab Instructor</b> - May 2015 &amp; May 2016
										</span>
										<br />
									</p>
								</div>
								<div style="padding-left: 20px">
									<p>
										<span>I have taught high school students about computer science and front-end web
											development for the “Education, Diversity, &amp; Informational Technology” (EDIT) event
											during the summer of 2015 and 2016.</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s"
						style="text-align: center;">
						<div class="col-xl-4">
							<img src="images/new_images/bdpa_group_photo.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class=" img-thumbnail" /> <br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/us_group_photo.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
						<div class="col-xl-4">

							<img src="images/new_images/bdpa_group_photo_2.jpg" alt="Image" width="100%"
								style="max-height: 800px; max-width: 500px;" class="img-thumbnail" /><br /> <br />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row p-b">
				<div class="col-md-6  col-md-offset-6 text-center">
					<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".0s">Personal
						Profiles</h2>
				</div>
			</div>
			<div class="row p-b ">
				<div class="col-md-6 col-md-push-6">
					<div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay=".2s">
						<p>
							To best reach out and support others, I have made online presence an important aspect of my
							personal brand. Along with maintaining an active <a href="https://www.twitter.com/codingbash"
								target="_blank">science/professional Twitter profile</a>, I also have a <a
								href="https://www.linkedin.com/in/basheerbecerra" target="_blank">LinkedIn</a> and <a
								href="http://www.github.com/CodingBash" target="_blank">GitHub account</a> to showcase my
							work. I even have a <a href="https://www.youtube.com/codingbash" target="_blank">YouTube
								channel</a> with half-a-million views with IT-related videos. Very soon, I plan on starting a
							blog to discuss computer science, computational biology, and self-help for graduate students.
						</p>
						<p>
							Feel free to contact me <a th:href="@{/contact}">here</a>. To view my CV, <a
								href="https://1drv.ms/b/s!Ai1NY1dgN1aihskC5DFYEkLxThh1gQ" target="_blank">click here</a>.
						</p>
						<div>
							<iframe
								src="https://onedrive.live.com/embed?cid=A256376057634D2D&amp;resid=A256376057634D2D%21107650&amp;authkey=AEjzKNTeMlETzYA&amp;em=2"
								width="100%" height="200" frameborder="0" scrolling="no"></iframe>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay=".5s"
					style="text-align: center;">
					<div class="row">
						<a class="twitter-timeline" data-width="500" data-height="500" data-theme="light"
							href="https://twitter.com/CodingBash?ref_src=twsrc%5Etfw">Tweets by CodingBash</a>
						<script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
		</div>

		<th:block th:include="fragments/fragments :: footer"></th:block>
	</div>
	<!-- END page-->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- WOW -->
	<script src="js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!-- Main -->
	<script src="js/main.js"></script>
</body>
</html>
